<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить товар</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/resources/css/index.css}" />

</head>
<body>

<div th:include="~{adminPane.html :: admin-nav}"></div>


<form method="post" action="/admin/addProduct" class="product-form" th:object="${product}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Имя товара</label>
        <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Имя">
    </div>
    <div class="form-group">
        <label for="material">Материал</label>
        <input type="text" class="form-control" th:field="*{material}" id="material" placeholder="Материал">
    </div>
    <div class="form-group">
        <label for="country">Страна производства</label>
        <input type="text" class="form-control" th:field="*{country}" id="country" placeholder="Страна производства">
    </div>
    <div class="form-group">
        <label for="weight">Масса</label>
        <input type="text" class="form-control" pattern="^[ 0-9]+$" th:field="*{weight}" id="weight" placeholder="Масса">
    </div>
    <div class="form-group">
        <label for="description">Описание</label>
        <input type="text" class="form-control" th:field="*{description}" id="description" placeholder="Описание">
    </div>
    <div class="form-group">
        <label for="selection-type"></label>
        <select id="selection-type" name="typeOfObjectString" th:field="*{type}">
            <option th:each="singleType : ${typesList}" th:value="${singleType}" th:text="${singleType.name()}"></option>
        </select>
    </div>
    <div class="file-field">
        <div class="btn btn-primary btn-sm float-left">
            <span>Загрузите изображение</span>
            <input type="file" name="file">
        </div>
    </div>

    <input type="submit" class="btn btn-success"/>

</form>


</body>
</html>