<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заявки</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/resources/css/index.css}"/>
</head>
<body>

<div th:include="~{adminPane.html :: admin-nav}"></div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Телефон</th>
        <th scope="col">Пожелание</th>
        <th scope="col">Продукт</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <th scope="row" th:text="${orders.indexOf(order)}"></th>
        <td th:text="${order.user.username}"></td>
        <td th:text="${order.user.mobilePhone}"></td>
        <td th:text="${order.user.message}"></td>
        <td>
            <a th:href="'/product/' + ${order.product.id}" th:text="${order.product.name}"></a>
        </td>
        <td>
            <form th:action="|/admin/removeOrder/${order.id}|" method="post">
                <input class="btn btn-primary" type="submit" value="Удалить">
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>