<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link rel="stylesheet" th:href="@{/resources/css/error.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <style>
        body{
            background-color: gray;
        }
    </style>
</head>
<body>


<div class="over404">
    <div class="darkOverlay"></div>
    <header>
        <h1 class="glitch" data-text="404">404</h1>
        <a href="/">
            <button class="btn btn-primary">На главную</button>
        </a>
    </header>

</div>



</body>
</html>