<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/resources/css/index.css}"/>


</head>
<body>

<div th:fragment="navbar">
    <nav class="site-header sticky-top py-1 black-back" style="position: fixed; padding-bottom: 5%; top: 0;width: 100%">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-none d-md-inline-block navText" href="/">Главная</a>
            <a class="py-2 d-none d-md-inline-block navText" href="/monuments">Памятники</a>
            <a class="py-2 d-none d-md-inline-block navText" href="/fences">Ограды</a>
            <a class="py-2 d-none d-md-inline-block navText" href="/engravings">Граверные работы</a>
            <a class="py-2 d-none d-md-inline-block navText" href="#">Установка</a>
            <a class="py-2 d-none d-md-inline-block navText" href="#">Наши работы</a>
            <a class="py-2 d-none d-md-inline-block navText" href="/contacts">Контакты</a>
        </div>
    </nav>
</div>


<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" th:each="product : ${products}">
        <div class="card mb-4 box-shadow" >
            <img class="card-img-top" th:src="${product.pathToPic}" height="300" width="300">
            <div class="card-body">
                <p class="card-text" th:text="${product.name}"></p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button th:href="'/product/' + ${product.id}" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
                    <small class="text-muted" th:text="${product.type}"></small>
                </div>
            </div>
        </div>

    </div>

</div>


<!-- Contact -->


</body>
</html>